.palette1 {
  border-left: solid 5px $bottonColor !important;

  h2 {
    color: $headerColor;
  }
}

.palette2 {
  border-left: solid 5px $secondPalette !important;

  h2 {
    color: $secondPaletteText;
  }
}

.palette3 {
  border-left: solid 5px $thirdPalette !important;

  h2 {
    color: $thirdPaletteText;
  }
}

.coloricon1 {
  .btn {
    border: solid 2px $secondaryColor !important;

    #icon {
      color: $headerColor;
    }
  }
}

.coloricon2 {
  .btn {
    border: solid 2px $primaryColor !important;

    #icon {
      color: $secondPaletteText;
    }
  }
}
.coloricon3 {
  .btn {
    border: solid 2px $thidlightPalette !important;

    #icon {
      color: $thirdPaletteText;
    }
  }
}
