/* COLORS */
$mainColor: #000000;
$headerColor: #114E4E;
$bottonColor: #438792; 
$secondaryColor:#a2deaf; 
$lightColor:#f9f4dc; 
$whiteColor:#ffffff;
$primaryColor:#e17334; 
$metalColor: #54585A;
$backgroundColor: #f5f5f5;
$colorFooterBorder: #d8d8d8;
$colorFooterText: #6b6b6b;
$secondPalette:#bd1010;
$secondPaletteText:#420101;
$thirdPalette: #eab052;
$thirdPaletteText:#3e5b65;
$thidlightPalette:#a0c0cf;
$color-twitter: #00a0f5;

/* FONTS */
$primaryFont: 'Open Sans', sans-serif;
$cardFont : 'Montserrat', sans-serif;
$cardBoldFont: 'Montserrat', sans-serif;
$landingFont: 'Merriweather', serif;

/*BREAKPOINTS*/
$tablet: 768px;
$pc: 1200px;